.photo-container{
    width: 120px;
    height: 120px;
    background-color: teal;
    border-radius: 25px;
    position: absolute;
    top: 5rem;
    z-index: 1;
    margin: 1rem;
    margin-left: 2rem;
    text-align: center;

    img{
        width: 120px;
        height: 120px;
        border-radius: 25px;
        border: solid white;
        box-shadow: 5px 5px 10px grey;
    }

    .change-picture-text{
        font-size: 20px;
        color: rgb(246, 242, 242);
        position:absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
    }

    &:hover{
        cursor: pointer;
        img{
            filter: brightness(0.85);
            filter: blur(1.5px);
        }
        .change-picture-text{
            visibility: visible;
        }
    }

  }