.header-container{
    width: 100%;
    // background-color: rgba(0, 128, 128, 0.824);
    position: relative;
    border-radius: 10px 10px 0px 0px;    

    .button-style{
        position: absolute;
        padding: 5px;
        right: 1rem;
        top: 1rem;
        border-radius: 50px;
        background-color: rgba(255,255,255, 0.2);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        backdrop-filter: blur(1px);
        border: none;
        z-index: 1;
    }

    .button-style:hover{
        background-color: rgba(255,255,255, 0.3);
    }

    
    h3{ 
        color: white;
    }
  
  
}


